/* Give your page a fun background color */
body {
  background-color: green;
}
/* Make the header and footer a different color from the background */
header {
  background-color: blue;
}
footer{
  background-color: red;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
}
/* Make your p tag a different color and italic */
p {
  background-color: grey;
  font-style: italic;
}
/* Put a border around your image */
img {
  border: black;
  border-width: medium;
}
/* Change the font-family of your list */
ul {
  font-family: monospace;
}
